/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 70px;
}

.awesomefooter {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: lime;
}

.statusee {font-weight: 400;}

.statusseee {font-weight: 500;}

.statuscontent {font-weight: 300; }

.statuscontent {text-transform: capitalize;}

.links {margin-top: 21px;}

#letthiswork img {border-radius: 50%; border: 4px solid rgb(255,77,91);}

.avatarprof {border-radius: 50%; border: 4px solid rgb(255,77,91); display: block; margin-left: auto; margin-right: auto;}

.gravatarinfo {
	vertical-align: center; margin-bottom: 2px;
	text-align: center;
}

.prof {
	text-align: center;
	margin-top: 10px;
}

